@media screen and (max-width: 1400px) {
  body {
    width: 100vw; }

  .loTop {
    font-size: 180%;
    margin-left: 2%; }

  nav {
    background-color: #2980B9; }
    nav a:link, nav a:active, nav a:visited {
      background-color: #2980B9; }

  #logIn {
    width: 100%; }

  .loRight {
    background-color: #409ad5;
    width: 20%; }
    .loRight a {
      font-size: 120%; }

  #titleFront {
    font-size: 350%;
    color: #164666;
    margin-top: 15%; }

  #subFront {
    font-size: 150%;
    text-shadow: 2px 2px 2px black; }

  #topDiv {
    background: url("../images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #topDiv .icon {
      margin-top: 10%; }
      #topDiv .icon i {
        color: white;
        opacity: 0.5; }
      #topDiv .icon i:hover {
        opacity: .75; }

  #textTry {
    text-align: center; }

  .features {
    margin-top: 25%; }
    .features #bottom {
      margin-top: 100%; }
    .features i, .features p {
      color: white;
      text-shadow: 1px 1px 1px black; }
    .features p {
      font-size: 200%; }

  .title {
    color: white;
    text-shadow: 1px 1px 1px black; }
    .title p {
      font-size: 110%; }
    .title p, .title a {
      margin-top: 15%; }

  .foot, .footStuff, .footBot {
    background-color: #2980B9;
    color: white;
    font-size: 200%; }

  .footTop {
    height: 20%; }
    .footTop p {
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%; }

  .signUp {
    font-size: 250%;
    color: white;
    background-color: #206695;
    border-radius: 2em; }

  .footBot {
    margin-top: 20%; }

  .botBut {
    margin-bottom: 15%;
    margin-top: 5%; }

  .signUp:active, .signUp:link, .signUp:hover, .signUp:visited {
    background-color: #2980B9; }

  .bottomStuff {
    background-color: #2980B9;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .botContent {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #2980B9; }
    .botContent .cardClass {
      margin-top: 10%; }
      .botContent .cardClass p {
        font-size: 150%; }
    .botContent h4 {
      color: #2980B9; }
    .botContent .titleCard {
      color: #2980B9;
      font-size: 250%; }
    .botContent .iconCard {
      background-color: #e7f2fa;
      padding: 5%;
      border-radius: 2em;
      color: #2980B9; }
    .botContent img {
      opacity: .3;
      position: absolute;
      height: 100%; } }

/*# sourceMappingURL=media.css.map */
