$primary-color: #2980B9;
$secondary-color:#f44336;

.loTop {
	font-size: 180%;
	margin-left: 2%;
}
nav{
	background-color: $primary-color;
	a:link, a:active, a:visited{
		font-style: none;
	}
}
.loRight{
	background-color: lighten($primary-color, 10%);
}

#titleFront{
	color: white;
	margin-top: 10%;
	text-shadow: 1px 1px 1px black;
}


  #topDiv{
	background: url("../images/background1.jpg") ;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	.icon{
		margin-top: 10%;
		i{
			color: white;
			opacity: .5
		}
	}
}

.features{
	margin-top: 110%;
	#bottom{
		margin-top: 100%;
	}
	i, p{
		color: darken(white, 8%);
		text-shadow: 1px 1px 1px black;
	}
	p{
		font-size: 130%;
	}
}

.signUp{
	background-color: $primary-color;
}
.signUp:active, .signUp:link, .signUp:hover, .signUp:visited{
	background-color: $primary-color;
}

.title{
	color: white;
	text-shadow: 1px 1px 1px black;
	p{
		font-size: 110%;
	}
	p, a{
		margin-top: 15%;
	}
}
.foot, .footStuff{
	margin-top: 10%;
	background-color: lighten($primary-color, 50%);
	color: lighten(black, 30%);
	font-size: 140%;
}
.footTop, {
	height: 15%;
}
.footBot{
	color: lighten(black, 30%);
	font-size: 140%;
	margin-top: 5%;
}
.bottomStuff{
	display: flex;
	flex-direction: column;
	z-index: 20;
	background-color: $primary-color;

}

.botContent{
	display: flex;
	flex-direction: column;
	position: relative;
    margin-bottom: -69%;
	.cardClass{
		margin-top: 10%;
	}
	color: $primary-color; 
	h4{
		color: $primary-color;
	}
	.titleCard{
		color: $primary-color;
	}
	.iconCard{
		background-color: lighten($primary-color, 50%);
		padding: 5%;
		border-radius: 2em;
		color: $primary-color;
	}
	img{
		opacity: .2;
		position: absolute;
		display: flex;
		flex-direction: column;
	}
}
